body{
    font-family: 'Roboto', sans-serif;
    color:#3c4043;
}
.content{
    width: 70%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

h1{
    text-align: center;
    margin: 100px 0;

}
h2{
    color: #3c4043;
    margin-top: 100px;
}

p{
    line-height: 28px;
}